@import "tailwindcss";

/*RESETS*/

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@theme inline{
  --font-amarante:var(--font-amarante);
  --font-limelight:var(--font-limelight);
}

h1, nav{
  font-family: var(--font-limelight);
}

li{
  list-style-type: none;
}

/*Colors for the proyect: */